.bio article {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.bio .picture-container {
  height: 50%;
  transition: all 1s;
  flex: 1;
  cursor: pointer;
  overflow: hidden;
}

.bio label {
  transition: height 1s;
  height: 50%;
  flex: 1;
  cursor: pointer;
}

.bio label img {
  object-fit: contain;
}

.bio label .personal-info {
  display: none;
  color: var(--primary-color);
  padding: 0 1rem;
}

.bio label .personal-info a {
  color: var(--primary-color);
  text-decoration: none;
}


.bio input:nth-of-type(1):checked ~ label .personal-info {
  display: block;
}

.bio input:checked ~ label .toggle-content  {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.bio input:checked ~ label .toggle-content::after {
  content: "Close!";
}

.bio input:nth-of-type(1):checked ~ label:nth-of-type(1),
.bio input:nth-of-type(2):checked ~ label:nth-of-type(2) {
  position: fixed;
  height: 100%;
  top: 6rem;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 2;
}

.bio input:nth-of-type(1):checked ~ label:nth-of-type(1) {
  padding: 0;
}

.bio .content-container {
  padding: 0 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (any-pointer: coarse) {
  .bio label:hover img {
    transition: scale 1s;
  }
  
  .bio label:hover img {
    scale: 1.1;
  }

  .bio label .personal-info a:hover {
    color: black;
    text-decoration: none;
  }
}