.contacts {
  padding: 0 1rem;
}

.contacts ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.contacts ul li {
  width: 100%;
  text-align: center;
}

.contacts ul li a {
  text-decoration: none;
  color: var(--text-color);

  @media (any-pointer:  fine){
    color: var(--primary-color);
  }
}

.contacts ul li span {
  width: 100%;
  display: inline-block;
}

/* MOUSE */
@media (any-pointer:  fine) {
  .contacts ul li a:hover {
    text-decoration: none;
    color: var(--text-color);
  }
}