.courses-and-ceriticates {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.courses-and-ceriticates .carousel-container {
  width: 100%;
}

.courses-and-ceriticates .carousel-container .carousel-indicators {
  width: 100%;
  display: flex;
  justify-content: center;
}

.courses-and-ceriticates .carousel-container .carousel-indicators label {
  display: inline-block;
  text-align: center;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem 0 0 0.5rem;
  border-radius: 50%;
}

.courses-and-ceriticates .carousel-container .carousel-indicators label:hover {
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
}

.courses-and-ceriticates .carousel-container .slide-container {
  width: 100%;
  height: 36rem;
  min-height: fit-content;
  overflow: hidden;
  display: flex;
  scroll-behavior: smooth;
  scroll-margin-top: 26rem;
}

.courses-and-ceriticates .carousel-container .slide-container .slide {
  flex: 0 0 100%;
  transition: margin-left 1s;
  background: var(--secondary-color);
  border: 2px solid transparent;
}

.courses-and-ceriticates .carousel-container .slide-container .slide:hover {
  border: 2px solid var(--primary-color);
}

.courses-and-ceriticates .carousel-container .slide-container .slide div {
  cursor: pointer;
  padding: 1rem;
  height: 50%;
  transition: height 1s;
  background: var(--secondary-color);
  overflow: hidden;
}
.courses-and-ceriticates .carousel-container .slide-container .slide label {
  height: 50%;
  transition: height 1s;

}

.courses-and-ceriticates .carousel-container .slide-container .slide div ul,
.courses-and-ceriticates .carousel-container .slide-container .slide div img {
  cursor: pointer;
  
}
.courses-and-ceriticates .carousel-container .slide-container .slide div img {
  object-fit: contain;
  scale: 1;
  height: 90%;
  transition: scale 1s;
}
.courses-and-ceriticates .carousel-container .slide-container .slide div ul {
  list-style-type: none;
}


.courses-and-ceriticates .carousel-container .slide-container .slide div img:hover {
  scale: 1.1;
}

.courses-and-ceriticates .carousel-container .slide-container .slide div:nth-of-type(2) ul li {
  margin-bottom: 0.5rem;
}

.courses-and-ceriticates .carousel-container .slide-container .slide input:nth-of-type(1):checked ~ label  ,
.courses-and-ceriticates .carousel-container .slide-container .slide input:nth-of-type(2):checked ~ label  {
  display: inline-block;
  position: fixed;
  height: 100%;
  left: 0;
  top: 6rem;
  width: 100%;
  z-index: 1;
  background-color: var(--secondary-color);
}

.courses-and-ceriticates .carousel-container .slide-container .slide input:checked ~ label .toggle-content  {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.courses-and-ceriticates .carousel-container .slide-container .slide input:checked ~ label .toggle-content::after  {
  content: "Close!";
}

.courses-and-ceriticates .carousel-container .slide-container .slide div:last-of-type input:checked~label  {
  padding: 0;
}

.courses-and-ceriticates .carousel-container .slide-container .slide div:first-of-type input:checked~label img {
  padding:2rem;
  height: 70%;
  object-fit: contain;
}

.courses-and-ceriticates .carousel-container .slide-container .slide div input:checked~label {
  padding: 2rem;
  height: 100%;
}

.courses-and-ceriticates .carousel-container .slide-container .slide div:last-of-type input:checked~label .description {
  display: block;
  padding: 1rem;
}

.courses-and-ceriticates .carousel-container .slide-container .slide div:last-of-type input:checked~label {
  display: block;
  padding: 1rem;
}

.courses-and-ceriticates .carousel-container .slide-container .slide img {
  object-fit: contain;
}

.courses-and-ceriticates .carousel-container input {
  opacity: 0;
  height: 0;
  width: 0;
}

.courses-and-ceriticates .carousel-container input:nth-of-type(4):checked~.slide-container .slide:first-of-type {
  margin-left: -300%;
}

.courses-and-ceriticates .carousel-container input:nth-of-type(3):checked~.slide-container .slide:first-of-type {
  margin-left: -200%;
}

.courses-and-ceriticates .carousel-container input:nth-of-type(2):checked~.slide-container .slide:first-of-type {
  margin-left: -100%;
}

.courses-and-ceriticates .carousel-container input:nth-of-type(1):checked~.slide-container .slide:first-of-type {
  margin-left: 0%;
}

.description {
  display: none;
}