.education div{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 1rem 1rem;
}

.education label {
  width: 100%;
  display: inline-block;

  /* TABLET */
  @media (min-width: 768px) {
    width: calc(50% - 1rem);
  }
}

.education label article {
  width: 100%;
  cursor: pointer;
  border:  2px solid var(--primary-color);
  border-radius: 1rem;
}

.education label article p {
  display: none;
}

.education input:nth-of-type(1):checked~label:nth-of-type(1) p,
.education input:nth-of-type(2):checked~label:nth-of-type(2) p,
.education input:nth-of-type(3):checked~label:nth-of-type(3) p {
  display: block;
}

.education input:nth-of-type(1):checked~label:nth-of-type(1) .toggle-content,
.education input:nth-of-type(2):checked~label:nth-of-type(2) .toggle-content,
.education input:nth-of-type(3):checked~label:nth-of-type(3) .toggle-content {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

.education input:nth-of-type(1):checked~label:nth-of-type(1) .toggle-content::after,
.education input:nth-of-type(2):checked~label:nth-of-type(2) .toggle-content::after,
.education input:nth-of-type(3):checked~label:nth-of-type(3) .toggle-content::after {
  content: "Close!";
}

.education label  article ul {
  list-style: none;
}

/* MOUSE */
@media (any-pointer:  fine) {
  .education label  article:hover h4 { 
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 1rem 1rem 0 0;
  }
}