details {
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  margin: 0 1rem 1rem;
}

details summary {
  padding: 1rem;
  border-radius: 1rem;
  color: var(--primary-color);
  cursor: pointer;
}

details[open] summary {
  border-radius: 1rem 1rem 0 0;
}

details summary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);

}

details .details-container {
  padding: 0 1rem 1rem;
}

details ul {
  margin-top: 0.5rem;
  margin-left: 2rem;
}

details li {
  margin-bottom: 0.5rem;
}