.work-experience details {
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  margin: 0 1rem 1rem;
}

.work-experience details summary {
  padding: 1rem;
  border-radius: 1rem;
  color: var(--primary-color);
  cursor: pointer;
}

.work-experience details[open] summary {
  border-radius: 1rem 1rem 0 0;
}

.work-experience details summary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);

}

.work-experience details .details-container {
  padding: 0 1rem 1rem;
  transition: height 1s;
  height: 50%;
  cursor: pointer;
}

.work-experience details .details-container:active {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  padding: 2rem;
  display: block;
}

.work-experience details .details-container p {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.work-experience details ul {
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.work-experience details li {
  margin-bottom: 0.5rem;
}