.static-container footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.static-container footer .go-to-top {
    bottom: 1rem;
    font-size: 1.5rem;
}

.static-container footer .footer-language-select {
    cursor: pointer;
    bottom: 6rem;
}

.static-container footer .go-to-top,
.static-container footer .footer-language-select {
    width: 3rem;
    height: 3rem;
    position: fixed;
    right: 1rem;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 0.2rem solid var(--primary-color);
    border-radius: 1rem;
    transition: 1s all;
    outline: none;
}

/* MOUSE */
@media (any-pointer: fine) {

    .static-container footer .go-to-top:hover,
    .static-container footer .footer-language-select:hover {
        scale: 1.5;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border: 0.2rem solid var(--secondary-color);
    }
}