.static-container header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  padding: 0 2rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/* Logo */
.logo {
  text-align: center;
}
/* Logo */

.header-wrapper {
  margin: auto;
}

/* Header button */
.header-wrapper button {
  position: relative;
  background-color: inherit;
  cursor: pointer;
  padding: 1rem;
}

.header-wrapper button div {
  width: 4.5rem;
  height: 0.5rem;
  background-color: var(--secondary-color);
  margin: 0.5rem 0;
  transition: right 1s ease-in-out;
}

.header-wrapper button:hover div {
  background-color: var(--secondary-color);
  transform: initial;
}

.header-wrapper:hover button div:nth-of-type(1) {
  transform: translate(0, 1rem) rotate(-45deg);
}

.header-wrapper:hover button div:nth-of-type(2) {
  opacity: 0;
}

.header-wrapper:hover button div:nth-of-type(3) {
  transform: translate(0, -1rem) rotate(45deg);
}
/* Header button */

/* Header menu */
.header-menu {
  position: absolute;
  height: auto;
  right: -100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  transition: 1s all;
}

.header-menu a {
  color: var(--secondary-color);
  text-decoration: none;
  border: 1px solid var(--secondary-color);
  padding: 1rem;
}

.header-wrapper:hover .header-menu {
  right: 0;
}

.header-menu a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
/* Header menu */