.main-header {
  position: sticky;
  top: 0;

  @media (min-width: 768px) {
    position: relative;
  }
}

.main-header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color); 
  height: 6rem;

  @media (min-width: 1024px) {
    height: 9rem;
    flex-wrap: wrap;
  }
}

.main-header .logo {
  font-size: min(2vw, 1em);
  width: 100%;
  text-align: start;

  
  @media (min-width: 1024px) {
    flex-wrap: wrap;
    text-align: center;
  }
}

.main-header .header-wrapper {
  margin: auto;
}

.main-header .header-wrapper .toggle-button {
  display: inline-block;
  position: relative;
  background-color: inherit;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: all 1s ease-in-out;

  @media (min-width: 1024px) {
    display: none;
  }
}

.main-header .header-wrapper .toggle-button label {
  cursor: pointer;
}

.main-header .header-wrapper .toggle-button div {
  width: 4.5rem;
  height: 0.5rem;
  background-color: var(--secondary-color);
  margin: 0.5rem 0;
  transition: all 1s;
  cursor: pointer;
}

.main-header .header-wrapper input:nth-of-type(1):checked~.toggle-button:focus label div:nth-of-type(1) {
  transform: translate(0, 1rem) rotate(-45deg);
}

.main-header .header-wrapper input:nth-of-type(1):checked~.toggle-button:focus label div:nth-of-type(2) {
  opacity: 0;
}

.main-header .header-wrapper input:nth-of-type(1):checked~.toggle-button:focus label div:nth-of-type(3) {
  transform: translate(0, -1rem) rotate(45deg);
}

.main-header .header-menu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 0;
  height: auto;
  text-align: center;
  transition: width 1s;
  overflow: hidden;
  background-color: var(--primary-color);

  @media (min-width: 1024px) {
    position: initial;
    flex-direction: row;
    width: 100%;
  }
}

.main-header .header-wrapper input:nth-of-type(1):checked~.toggle-button:focus~.header-menu {
  width: 100%;
  overflow: auto;
}

.main-header .header-menu a {
  padding: 1rem;
  text-decoration: none;
  white-space: nowrap;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);

  @media (min-width: 1024px) {
    border: 1px solid transparent;
  }
}

@media (any-pointer:  fine) {
  .main-header .header-wrapper label:hover {
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
  }

  .main-header .header-menu a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
  }
}