html {
    scroll-behavior: smooth;
}

main {
    border: 1px solid red;
}

aside {
    border: 1px solid blue;
}

header {
    border: 1px solid yellow;
}

footer {
    border: 1px solid green;
}

.static-container header {
    background-color: gray;
    color: white;
}

.header-menu a {
    text-decoration: none;
    color: lightgray;
}

.header-menu a:hover {
    text-decoration: none;
    color: white;
}

main section {
    border: 1px solid black;
}