@import url('component-styles/header.css');
@import url('component-styles/bio.css');

html {
    scroll-behavior: smooth;
}

main {
    border: 1px solid red;
}

aside {
    border: 1px solid blue;
}

footer {
    border: 1px solid green;
}

.static-container footer {
    background-color: gray;
    color: white;
}





footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

main section {
    border: 1px solid black;
}