html {
    font: 12px/1.5 'system-ui', 'sans-serif';
    
    /* TABLET */
    @media (min-width: 768px) {
        font-size: 14px;
    }

    /* DESKTOP */
    @media (min-width: 1024px) {
        font-size: 16px;
    }
}

body,
table,
input {
    font: inherit;
}

p,
a {
    font-size: 1em;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5,
summary {
    font-size: 1.5em;
}

.bold,
.footer-link:hover {
    font-weight: 700;
}

.main-header .header-menu a {
    /* DESKTOP */
    @media (min-width: 1024px) {
        font-size: Min(1vw, 1rem);
    }
}